@import 'dropdowns.scss';
@import 'header.scss';

$rich-black-fogra-29: #141a1eff;
$pakistan-green: #2a7221ff;
$slimy-green: #119822ff;
$lime-green: #31cb00ff;
$tea-green: #d4e6b5ff;
$maximum-green-yellow: #e6f14aff;

$light-grey: #2d2d2d;


.app {
  display: grid;
  grid-template-areas:
    "header header header"
    "main   main   main";
  grid-template-rows: auto 1fr;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
  ". dropdowns ."
  "inputs inputs inputs";
}

.dropdowns {
  grid-area: dropdowns;
  justify-self: center;
  align-self: center;
}

.inputs {
  width: 100%;
  grid-area: inputs;
  justify-self: center;
}

.input-addresses {
  display: grid;
  grid-template-areas:
  "check input enter";

  .check-address {
    grid-area: check;
    justify-self: right;
  }

  .enter-address {
    grid-area: enter;
  }
}

.address-totals {
  justify-self: center;
}

#addresses {
  display: grid;
  justify-content: center;
}

.address {
  display: grid;
  grid-template-areas: "address crypto fiat remove";
  grid-template-columns: auto 1fr 1fr 1fr;
}
