@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
// font-family: 'Tomorrow', sans-serif;

// Color scheme:
/* SCSS HEX */
$rich-black-fogra-29: #141a1eff;
$pakistan-green: #2a7221ff;
$slimy-green: #119822ff;
$lime-green: #31cb00ff;
$tea-green: #d4e6b5ff;
$maximum-green-yellow: #e6f14aff;

html, body {
  height: 100%;
  width: 100%;
  background-color: $rich-black-fogra-29;
  color: #fff;
  font-family: 'Tomorrow', sans-serif;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

.btns {
	background-color: #141a1eff;
	border: 1px solid #d4e6b5ff;
	color: #fff;
	padding: 0.35em 1em;
  border-radius: 0.25em;

  &:hover {
    color: #d4e6b5ff;
    border-color: #fff;
    cursor: pointer;
  }
}
