<%= javascript_pack_tag 'app' %>
<%= stylesheet_pack_tag 'app' %>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">


<main>
  <script src="./html5-qrcode.min.js"></script>
  <!-- <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script> -->
  <div id="reader" width="600px" data-controller="qrcode-reader">
    <button type="button" name="button" data-action="click->qrcode-reader#startQrCode">
      Boobs
    </button>
  </div>
  <br>
  <br>
  <qr-code data="hello world!" data-controller="qr-code-generator"></qr-code>
  <br>
  <br>
  <div class="" data-controller="csv-reader">
    Load Spreadsheet<input class="hidden" type="file" id="csvFileInput" data-action="change->csv-reader#handleFiles" accept=".csv">
  </div>
  <div class="" data-controller="csv-generator">
    <a href="#" class="export" data-action="click->csv-generator#createCsv"><button class="btn btn-primary btn-lg">Export Spreadsheet</button></a><br />

  </div>
  <br>
  <br>
  <cpwc-crypto-dropdowns>
  </cpwc-crypto-dropdowns>

  <div class="" id="api-controller" data-controller="api">
    <button type="button" name="button" data-action="click->api#submitAddress">
      Submit Address
    </button>

  </div>

  <cpwc-addresses>
  </cpwc-addresses>
</main>
