<%= javascript_pack_tag 'app' %>
<%= stylesheet_pack_tag 'app' %>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

<div class="app">

<header class="header">
  <div class="logo">
      <div class="logo-image"><a href="/"></a></div>
      <h1><a href="/">CryptocurrenciesChecker</a></h1>
  </div>
  <div class="nav">
    <div class="spreadsheet">
      <h4>Speadsheet</h4>
      <div class="csv__reader" data-controller="csv-reader">
        <button class="btns" data-action="click->csv-reader#inputCsv">Load</button>
        <input class="hidden" type="file" id="csvFileInput"
          data-target="csv-reader.input"
          data-action="change->csv-reader#handleFiles" accept=".csv">
      </div>
      <div class="csv__generator" data-controller="csv-generator">
        <a href="#" class="export" data-action="click->csv-generator#createCsv">
          <button class="btns">Export</button></a>
      </div>
    </div>
    <div class="blog">
      <a href="/posts">Blog</a>
    </div>
  </div>
  <hr>
</header>

<main class="main">
  <!-- <script src="./html5-qrcode.min.js"></script>
  <div id="reader" width="600px" data-controller="qrcode-reader">
    <button type="button" name="button" data-action="click->qrcode-reader#startQrCode">
      Boobs
    </button>
  </div> -->

  <section class="dropdowns">
    <cpwc-crypto-dropdowns>
    </cpwc-crypto-dropdowns>
  </section>
  <section class="inputs">
    <cpwc-addresses>
    </cpwc-addresses>
  </section>
</main>

<div class="modal" data-controller="qrmodal" data-action="click->qrmodal#closeModal">
  <div class="modal-content">
    <qr-code format="svg"></qr-code>
    <h5></h5>
  </div>
</div>

</div>
