<%= javascript_pack_tag 'test' %>
<%= stylesheet_pack_tag 'test' %>

<div class="video" data-controller="qrcode-reader">
  <video data-target="qrcode-reader.video"></video>
</div>

<div class="" id="canvas">
  <label>
      <input id="show-scan-region" type="checkbox">
      Show scan region
  </label>
</div>
