<%= javascript_pack_tag 'test' %>
<%= stylesheet_pack_tag 'test' %>

<div class="camera-modal" data-controller="cameramodal">
  <cpwc-qrreader data-target="cameramodal.scanner"></cpwc-qrreader>
</div>

<cpwc-addresses></cpwc-addresses>

<div class="" id="canvas">
  <label>
      <input id="show-scan-region" type="checkbox">
      Show scan region
  </label>
</div>
