// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;


.title_font {
  font-family: 'Montserrat Alternates', sans-serif;
}

.post_font {
  font-family: 'Montserrat', sans-serif;
}

trix-toolbar .trix-button {
  background: #fff !important;
}

trix-editor {
  width: 36em;
  max-height: 85vh;
  overflow-y: auto;
}

.trix_field {
  display: grid;
  justify-items: center;
}

.trix-content {
  max-width: 36em;
  margin-bottom: 4em;
  line-height: 1.5em;
  font-size: 1.2em;
}
