<header class="header">
  <div class="logo">
      <div class="logo-image"><a href="/"></a></div>
      <h1><a href="/">CryptocurrenciesChecker</a></h1>
  </div>
  <div class="nav">
    <div class="app_link">
      <a href="/">App</a>
    </div>
    <div class="blog">
      <a href="/posts">Blog</a>
    </div>
  </div>
  <hr>
</header>
